body {
    background-image: url('img/typescript.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #E5B063;
    margin-right: 15%;
    margin-left: 15%;
    height: 100vh;
}